extends layout

block content 

    form(method="post" action="/orar/insertOrar")
        .d-flex.flex-row.align-self-center.m-3
            h3.px-3 Creaza orar pentru grupa
            .w-5
                select.form-control#grupa(name="grupa" placeholder="")
                    each g in grupe
                        option #{g.cod}
    
        .container-fluid
            table.table.table-bordered.tabel-orar
                thead
                    tr
                        th(scope="col" style="width: 5%") 
                            h2.text-center Ore
                        th(scope="col")
                            h2.text-center Luni
                        th(scope="col")
                            h2.text-center Marti
                        th(scope="col")
                            h2.text-center Miercuri
                        th(scope="col")
                            h2.text-center Joi
                        th(scope="col")
                            h2.text-center Vineri
                tbody
                    tr
                        th(scope="row").text-center 9:00-11:00
                        td
                            a.show-btn.text-center(onClick="show(luni9)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#luni9
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="luni")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni9" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni9" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni9" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni9" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salaluni")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                                    
                        td
                            a.show-btn.text-center(onClick="show(marti9)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#marti9
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="marti")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti9" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti9" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti9" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti9" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salamarti")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(miercuri9)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#miercuri9
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="miercuri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri9" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri9" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri9" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri9" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salamiercuri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(joi9)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#joi9
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="joi")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi9" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi9" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi9" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi9" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salajoi")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                            
                        td
                            a.show-btn.text-center(onClick="show(vineri9)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#vineri9
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="vineri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri9" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri9" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri9" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri9" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salavineri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                                                    
                    tr
                        th(scope="row").text-center 11:00-13:00
                        td
                            a.show-btn.text-center(onClick="show(luni11)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#luni11
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="luni")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni11" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni11" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni11" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipluni11" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salaluni")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                            
                        td 
                            a.show-btn.text-center(onClick="show(marti11)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#marti11
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="marti")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti11" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti11" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti11" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmarti11" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salamarti")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(miercuri11)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#miercuri11
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="miercuri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri11" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri11" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri11" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri11" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salamiercuri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(joi11)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#joi11
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="joi")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi11" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi11" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi11" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi11" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salajoi")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(vineri11)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#vineri11
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="vineri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri11" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri11" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri11" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri11" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salavineri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}

                    tr
                        th(scope="row").text-center 13:00-15:00
                            td 
                                a.show-btn.text-center(onClick="show(luni13)")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                                .d-none#luni13
                                    .row.m-1
                                        .col
                                            .form-group
                                                select.mat.form-control(name="luni")
                                                    option(value=null) Liber
                                                    if materii != null 
                                                        each m in materii
                                                            option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni13" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni13" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni13" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni13" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salaluni")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                            
                            td
                                a.show-btn.text-center(onClick="show(marti13)")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                                .d-none#marti13
                                    .row.m-1
                                        .col
                                            .form-group
                                                select.mat.form-control(name="marti")
                                                    option(value=null) Liber
                                                    if materii != null 
                                                        each m in materii
                                                            option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti13" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti13" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti13" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti13" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salamarti")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                            td
                                a.show-btn.text-center(onClick="show(miercuri13)")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                                .d-none#miercuri13
                                    .row.m-1
                                        .col
                                            .form-group
                                                select.mat.form-control(name="miercuri")
                                                    option(value=null) Liber
                                                    if materii != null 
                                                        each m in materii
                                                            option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri13" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri13" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri13" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri13" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salamiercuri")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                            td
                                a.show-btn.text-center(onClick="show(joi13)")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                                .d-none#joi13
                                    .row.m-1
                                        .col
                                            .form-group
                                                select.mat.form-control(name="joi")
                                                    option(value=null) Liber
                                                    if materii != null 
                                                        each m in materii
                                                            option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi13" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi13" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi13" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi13" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salajoi")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                            td
                                a.show-btn.text-center(onClick="show(vineri13)")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                                .d-none#vineri13
                                    .row.m-1
                                        .col
                                            .form-group
                                                select.mat.form-control(name="vineri")
                                                    option(value=null) Liber
                                                    if materii != null 
                                                        each m in materii
                                                            option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri13" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri13" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri13" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri13" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salavineri")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}

                        
                    tr
                        th(scope="row").text-center 15:00-17:00
                        td
                            a.show-btn.text-center(onClick="show(luni15)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#luni15
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="luni")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni15" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni15" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni15" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni15" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salaluni")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(marti15)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#marti15
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="marti")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti15" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti15" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti15" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti15" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salamarti")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(miercuri15)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#miercuri15
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="miercuri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri15" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri15" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri15" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmiercuri15" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salamiercuri")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(joi15)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#joi15
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="joi")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi15" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi15" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi15" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipjoi15" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salajoi")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(vineri15)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
                            .d-none#vineri15
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="vineri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri15" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri15" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri15" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipvineri15" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salavineri")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        
                    tr
                        th(scope="row").text-center 17:00-19:00
                        td
                            a.show-btn.text-center(onClick="show(luni17)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4") 
                            .d-none#luni17
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="luni")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni17" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni17" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni17" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipluni17" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salaluni")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(marti17)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus", viewBox="0 0 16 16") 
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4") 
                            .d-none#marti17
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="marti")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                    .row.m-1
                                        .col
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti17" value="Curs"  checked)
                                                label.form-check-label(for="Curs") C
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti17" value="Laborator" )
                                                label.form-check-label(for="Laborator") L
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti17" value="Seminar" )
                                                label.form-check-label(for="Seminar") S
                                            .form-check.form-check-inline
                                                input.form-check-input(type="radio", name="tipmarti17" value="Proiect" )
                                                label.form-check-label(for="Proiect") P
                                        .col
                                            .form-group.m-1
                                                select.sala.form-control(name="salamarti")
                                                    if sali != null 
                                                        each s in sali
                                                            if s.etaj == 0 
                                                                option #{s.corp}P#{s.numar}
                                                            else
                                                                option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(miercuri17)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus",viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4") 
                            .d-none#miercuri17
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="miercuri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri17" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri17" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri17" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipmiercuri17" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salamiercuri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(joi17)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus",viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4") 
                            .d-none#joi17
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="joi")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi17" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi17" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi17" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipjoi17" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salajoi")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        td
                            a.show-btn.text-center(onClick="show(vineri17)")
                                svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", fill="currentColor", class="bi bi-plus",viewBox="0 0 16 16")
                                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4") 
                            .d-none#vineri17
                                .row.m-1
                                    .col
                                        .form-group
                                            select.mat.form-control(name="vineri")
                                                option(value=null) Liber
                                                if materii != null 
                                                    each m in materii
                                                        option #{m.nume} 
                                .row.m-1
                                    .col
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri17" value="Curs"  checked)
                                            label.form-check-label(for="Curs") C
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri17" value="Laborator" )
                                            label.form-check-label(for="Laborator") L
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri17" value="Seminar" )
                                            label.form-check-label(for="Seminar") S
                                        .form-check.form-check-inline
                                            input.form-check-input(type="radio", name="tipvineri17" value="Proiect" )
                                            label.form-check-label(for="Proiect") P
                                    .col
                                        .form-group.m-1
                                            select.sala.form-control(name="salavineri")
                                                if sali != null 
                                                    each s in sali
                                                        if s.etaj == 0 
                                                            option #{s.corp}P#{s.numar}
                                                        else
                                                            option #{s.corp}#{s.etaj}#{s.numar}
                        
        .container-fluid 
            button.btn.btn-primary.m-3#saveOrar(type="submit") Salveaza orarul
            button.btn.btn-outline-secondary.m-1(type="reset" onClick="location.reload()" ) Reset
    
    script(src="/javascripts/drag.js")