extends layout

block content 

    .d-flex.flex-row.align-self-center.m-3
        h3.px-3 Creaza orar pentru grupa
        .w-5
            select.form-control#grupa(name="grupa")
                each g in grupe
                    option #{g.cod}

    //add bootstrap classes to ul with border
    .container-fluid
        .row 
            .col-md-5
                ul#list1.list-group.m-4
                    li.list-group-item.list-group-item-secondary.rounded
                        .form-floating
                            select.form-control(name="" placeholder="")
                                each m in materii
                                    if m.curs == true
                                        .row #{m.curs}
                                    option #{m.nume}
                            label(for="") Materie
                    li.list-group-item.list-group-item-secondary.rounded 
                        .row 
                            .col 
                                .form-floating
                                    select.form-control(name="" placeholder="")
                                        each m in materii
                                            option #{m.nume}
                                    label(for="") Materie
                            .col
                                .form-floating
                                    select.form-control(name="" placeholder="")
                                        each m in materii
                                            option #{m.nume}
                                    label(for="") Materie
                    li.list-group-item.list-group-item-secondary.rounded
                        .row
                            .col 
                                .form-floating
                                    select.form-control(name="" placeholder="")
                                        each m in materii
                                            option #{m.nume}
                                    label(for="") Materie
                            .col
                        .row
                            .col 
                            .col 
                                .form-floating
                                    select.form-control(name="" placeholder="")
                                        each m in materii
                                            option #{m.nume}
                                    label(for="") Materie
                    li.list-group-item.list-group-item-secondary.rounded 
                        .row 
                            p.text-center 
                                em Empty.
    .container-fluid
        //create a table with the days of the week
        table.table.table-bordered.tabel-orar
            thead.thead-dark
                tr
                    th(scope="col" style="width: 10%") 
                        h2.text-center Ore
                    th(scope="col")
                        h2.text-center Luni
                    th(scope="col")
                        h2.text-center Marti
                    th(scope="col")
                        h2.text-center Miercuri
                    th(scope="col")
                        h2.text-center Joi
                    th(scope="col")
                        h2.text-center Vineri
            tbody
                tr
                    th(scope="row").text-center.h4 9:00-11:00
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                tr
                    th(scope="row").text-center.h4 11:00-13:00
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                tr
                    th(scope="row").text-center.h4 13:00-15:00
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                tr
                    th(scope="row").text-center.h4 15:00-17:00
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                tr
                    th(scope="row").text-center.h4 17:00-19:00
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable
                    td.sortable

    script(src="/javascripts/drag.js")