extends layout 

block content
    h2#add-data
    if materii == null 
        h2 No data.
    else
        table.table.table-striped
            thead 
                tr 
                    th(scope="col") ID
                    th(scope="col") Nume
                    th(scope="col") C
                    th(scope="col") L
                    th(scope="col") S
                    th(scope="col") P
                    th(scope="col") ID Prof 
                    th(scope="col") Grupe
            tbody 
                each materie in materii
                    tr 
                        th(scope="row") #{materie.id}
                        td #{materie.nume}
                        td
                            .form-check
                                input.form-check-input(type="checkbox" disabled checked=materie.curs)
                        td
                            .form-check
                                input.form-check-input(type="checkbox" disabled checked=materie.laborator)
                        td
                            .form-check
                                input.form-check-input(type="checkbox" disabled checked=materie.seminar)
                        td
                            .form-check
                                input.form-check-input(type="checkbox" disabled checked=materie.proiect)
                        td #{materie._doc.prof}
                        td
                            each grupa in materie.idGrupa
                                a.btn.btn-outline-secondary.m-1(href=`/grupe/cod=${grupa}`) #{grupa} &nbsp;
        .container
            .row
                .col-lg-5.col-md-10.m-auto
                    form(action="/materii/insertMaterie" method="post")
                        .form-floating.m-4
                            input.form-control#ID(type="text" readonly value =maxID name="id")
                            label(for ="ID") ID
                        .form-floating.m-4
                            input.form-control#numeMaterie(type="text" name="nume" placeholder="")
                            label.col-form-label(for="numeMaterie") Nume materie
                        .form-check.form-check-inline.m-3
                            input.form-check-input#C(type="checkbox" name="Curs")
                            label.form-check-label(for ="C") C
                        .form-check.form-check-inline.m-3
                            input.form-check-input#L(type="checkbox" name="Laborator")
                            label.form-check-label(for ="L") L
                        .form-check.form-check-inline.m-3
                            input.form-check-input#S(type="checkbox" name="Seminar")
                            label.form-check-label(for ="S") S
                        .form-check.form-check-inline.m-3
                            input.form-check-input#P(type="checkbox" name="Proiect")
                            label.form-check-label(for ="P") P
                        .form-floating.m-4
                            select.form-select#idProf(name="prof")
                                if profi != null 
                                    each p in profi
                                        option(value=p.id) #{p.nume}
                            label.col-form-label(for="numeMaterie") Profesor
                        .form-group.m-4
                            select.multiple-sel.form-control#idGrupe(multiple name="grupe")
                                if grupe != null 
                                    each g in grupe
                                        option #{g.cod} 
                        .form-group.m-4
                                button.btn.btn-primary.m-2(type="submit" id="iMat") Isereaza materie
                                button.btn.btn-outline-secondary(type="reset" id="rMat") Reset   
    script(src="javascripts/materii.js")