extends layout 

block content 

    h1.display-2= title 
    p.lead Welcome to #{title} 

    .container-fluid 
        if orare != null 
            each orar in orare 
                .card.mt-3 
                    .card-header
                        .row
                            .col Grupa 
                                a.btn.btn-outline-secondary(href="/grupe/cod=" + orar.grupa) #{orar.grupa}
                            .col.d-flex.justify-content-end 
                                a.btn.btn-outline-primary(href=orar.pdf download="orar.pdf") Descarca pdf
                    .card-body 
                        table.table.table-bordered.table-hover 
                            thead 
                                tr 
                                th(scope="col" style="width:5%") Ora 
                                th(scope="col") Luni 
                                th(scope="col") Marti 
                                th(scope="col") Miercuri 
                                th(scope="col") Joi 
                                th(scope="col") Vineri 
                            tbody
                                -var ora = 9
                                each zi in orar.zile 
                                    tr 
                                        th(scope="row") #{ora}-#{ora+2}
                                        -ora += 2
                                            each ora in zi.ora 
                                                if ora.Materie == "Liber" 
                                                    td  
                                                else 
                                                    td  
                                                        p.text-center #{ora.Materie}
                                                        p.text-center #{ora.tip} #{ora.idSala}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
