extends layout 

block content 

    h1.display-2= title 
    p.lead Welcome to #{title} 

    .container-fluid 
        if orare != null 
            each orar in orare 
                .card.mt-3 
                    .card-header
                        .row
                            .col Grupa 
                                a.btn.btn-outline-secondary(href="/grupe/cod=" + orar.grupa) #{orar.grupa}
                            .col.d-flex.justify-content-end 
                                a.btn.btn-outline-primary(href=orar.pdf download="orar.pdf") Descarca pdf
                            .col-1.d-flex.justify-content-end
                                a.btn.btn-outline-danger(href="/orar/delete/"+orar._id) Sterge Orar
                    .card-body 
                        table.table.table-bordered.table-hover 
                            thead 
                                tr 
                                th(scope="col" style="width:5%") Ora
                                th(scope="col") Luni
                                th(scope="col") Marti
                                th(scope="col") Miercuri
                                th(scope="col") Joi
                                th(scope="col") Vineri
                            tbody
                                tr
                                    th.text-center.align-middle(scope="row") 9-11
                                        td
                                            if orar.zile[0].ora[0].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[0].ora[0].Materie}
                                                p.text-center #{orar.zile[0].ora[0].tip} #{orar.zile[0].ora[0].idSala}
                                        td
                                            if orar.zile[1].ora[0].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[1].ora[0].Materie}
                                                p.text-center #{orar.zile[1].ora[0].tip} #{orar.zile[1].ora[0].idSala}
                                        td
                                            if orar.zile[2].ora[0].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[2].ora[0].Materie}
                                                p.text-center #{orar.zile[2].ora[0].tip} #{orar.zile[2].ora[0].idSala}
                                        td
                                            if orar.zile[3].ora[0].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[3].ora[0].Materie}
                                                p.text-center #{orar.zile[3].ora[0].tip} #{orar.zile[3].ora[0].idSala}
                                        td
                                            if orar.zile[4].ora[0].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[4].ora[0].Materie}
                                                p.text-center #{orar.zile[4].ora[0].tip} #{orar.zile[4].ora[0].idSala}
                                tr
                                    th.text-center.align-middle(scope="row") 11-13
                                        td
                                            if orar.zile[0].ora[1].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[0].ora[1].Materie}
                                                p.text-center #{orar.zile[0].ora[1].tip} #{orar.zile[0].ora[1].idSala}
                                        td
                                            if orar.zile[1].ora[1].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[1].ora[1].Materie}
                                                p.text-center #{orar.zile[1].ora[1].tip} #{orar.zile[1].ora[1].idSala}
                                        td
                                            if orar.zile[2].ora[1].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[2].ora[1].Materie}
                                                p.text-center #{orar.zile[2].ora[1].tip} #{orar.zile[2].ora[1].idSala}
                                        td
                                            if orar.zile[3].ora[1].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[3].ora[1].Materie}
                                                p.text-center #{orar.zile[3].ora[1].tip} #{orar.zile[3].ora[1].idSala}
                                        td
                                            if orar.zile[4].ora[1].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[4].ora[1].Materie}
                                                p.text-center #{orar.zile[4].ora[1].tip} #{orar.zile[4].ora[1].idSala}
                                tr
                                    th.text-center.align-middle(scope="row") 13-15
                                        td
                                            if orar.zile[0].ora[2].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[0].ora[2].Materie}
                                                p.text-center #{orar.zile[0].ora[2].tip} #{orar.zile[0].ora[2].idSala}
                                        td
                                            if orar.zile[1].ora[2].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[1].ora[2].Materie}
                                                p.text-center #{orar.zile[1].ora[2].tip} #{orar.zile[1].ora[2].idSala}
                                        td
                                            if orar.zile[2].ora[2].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[2].ora[2].Materie}
                                                p.text-center #{orar.zile[2].ora[2].tip} #{orar.zile[2].ora[2].idSala}
                                        td
                                            if orar.zile[3].ora[2].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[3].ora[2].Materie}
                                                p.text-center #{orar.zile[3].ora[2].tip} #{orar.zile[3].ora[2].idSala}
                                        td
                                            if orar.zile[4].ora[2].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[4].ora[2].Materie}
                                                p.text-center #{orar.zile[4].ora[2].tip} #{orar.zile[4].ora[2].idSala}
                                tr 
                                    th.text-center.align-middle(scope="row") 15-17
                                        td
                                            if orar.zile[0].ora[3].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[0].ora[3].Materie}
                                                p.text-center #{orar.zile[0].ora[3].tip} #{orar.zile[0].ora[3].idSala}
                                        td
                                            if orar.zile[1].ora[3].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[1].ora[3].Materie}
                                                p.text-center #{orar.zile[1].ora[3].tip} #{orar.zile[1].ora[3].idSala}
                                        td
                                            if orar.zile[2].ora[3].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[2].ora[3].Materie}
                                                p.text-center #{orar.zile[2].ora[3].tip} #{orar.zile[2].ora[3].idSala}
                                        td
                                            if orar.zile[3].ora[3].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[3].ora[3].Materie}
                                                p.text-center #{orar.zile[3].ora[3].tip} #{orar.zile[3].ora[3].idSala}
                                        td
                                            if orar.zile[4].ora[3].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[4].ora[3].Materie}
                                                p.text-center #{orar.zile[4].ora[3].tip} #{orar.zile[4].ora[3].idSala}
                                tr 
                                    th.text-center.align-middle(scope="row") 17-19
                                        td
                                            if orar.zile[0].ora[4].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[0].ora[4].Materie}
                                                p.text-center #{orar.zile[0].ora[4].tip} #{orar.zile[0].ora[4].idSala}
                                        td
                                            if orar.zile[1].ora[4].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[1].ora[4].Materie}
                                                p.text-center #{orar.zile[1].ora[4].tip} #{orar.zile[1].ora[4].idSala}
                                        td
                                            if orar.zile[2].ora[4].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[2].ora[4].Materie}
                                                p.text-center #{orar.zile[2].ora[4].tip} #{orar.zile[2].ora[4].idSala}
                                        td
                                            if orar.zile[3].ora[4].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[3].ora[4].Materie}
                                                p.text-center #{orar.zile[3].ora[4].tip} #{orar.zile[3].ora[4].idSala}
                                        td
                                            if orar.zile[4].ora[4].Materie == "Liber"
                                                p.text-center 
                                            else
                                                p.text-center #{orar.zile[4].ora[4].Materie}
                                                p.text-center #{orar.zile[4].ora[4].tip} #{orar.zile[4].ora[4].idSala}
								
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
