
extends layout

block content


    .container 
        .row 
            .col-lg-8.m-auto
                if sali !=null
                    table.table.table-striped
                        thead
                            tr
                                th(scope="col") COD
                                th(scope="col") Corp
                                th(scope="col") Etaj
                                th(scope="col") Nr sala
                                th(scope="col") Capacitate
                                th(scope="col") 
                        tbody
                            each val in sali
                                tr
                                    th(scope="row") #{val.cod}
                                    td #{val.corp}
                                    if val.etaj == 0
                                        td P
                                    else 
                                        td #{val.etaj}
                                    td #{val.numar}
                                    td #{val.capacitate}
                                    td.dele
                                        a.b-none(href="/sali/delete/id=" + val.id data-bs-toggle="tooltip" data-bs-html="true" title="Sterge sala: "+ val.cod)
                                            svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z')
                                                path(d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z')
        .row 
            .col-lg-5.col-md-10.m-auto
                form(action="/sali/insertSala" method="post")
                    .form-floating.m-3
                        //Corp A,b,c..
                        select.form-select(id="corp" name="corp")
                            option A
                            option B
                            option C
                            option D
                        label.col-form-label(for="corp") Corp
                    .form-floating.m-3
                        //etaj
                        select.form-select(id="etaj" name="etaj")
                            option(value='0') P
                            option 1
                            option 2
                            option 3
                        label.col-form-label(for="etaj") Etaj
                    .form-floating.m-3
                        //numar
                        input.form-control.is-invalid(id="numar" type="number" name="numar")
                        label.col-form-label(for="numar") Numar
                        .invalid-feedback Nu poate fi mai mic decat 0!
                    .form-floating.m-3
                        //capacitate
                        
                        input.form-control.is-invalid(id="capacitate" type="number" name="capacitate")
                        label.col-form-label(for="capacitate") Capacitate
                        .invalid-feedback Nu poate fi mai mic decat 0!
                    .form-floating.m-3
                        //cod
                        
                        input.form-control(id="cod" type="text" readonly value="AP12")
                        label.col-form-label(for="cod") Cod Generat
                    .form-grop.row.p-3
                        .col
                            button.btn.btn-primary.m-20(type="submit" id="iSala") Insereaza sala
                        .col.text-center
                            button.btn.btn-outline-secondary(type="reset" id="rSala") Reset

    script(src="javascripts/functions.js")
    script(src="javascripts/sali.js")